.App {
  text-align: center;
  color: white;
  overflow-x: hidden;

}

.header {
  position: fixed;
  left: 0;
  top: 0px;
  background-color: rgb(72, 72, 72);
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* Light shadow on course cards */
}

.title-container {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.filters-container {
  width: 100%;
  height: 50%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}

.filters-container::-webkit-scrollbar {
  display: none;
}
  
/* ======================== */

.course-list {
width: 100%;
height: 100%;
min-height: 100vh;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
background-color: rgb(72, 72, 72);

flex-grow: 1; 
padding-left: 20px;
padding-right: 20px;
padding-top: 175px;
gap: 20px;
overflow-y: auto; 
}

.course {
background-color: rgb(0, 0, 0);
max-width: 100%;
min-width: 700px;
height: 100px;
padding-left: 30px;
padding-right: 30px;
line-height: 12px;
display: flex;
justify-content: space-between;
align-items: center;
outline: 3px solid black;
border-radius: 12px;
border: 1px solid rgb(48, 48, 48);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Light shadow on course cards */
cursor: pointer;
}

.MobileCourse {
  background-color: rgb(36, 36, 36);
  
  width: 40%;
  min-width: 300px;
  height: 160px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid rgb(18, 18, 18);
  border-radius: 12px;
  border: 1px solid rgb(48, 48, 48);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 

  cursor: pointer;
}

.MobileCourseLeftDiv {
  width: 70%;
  text-align: start;
  font-size: 16px;
  line-height: 20px;
}

.MobileCourseRightDiv {
  width: 30%;
  text-align: end;
  font-size: 16px;
  line-height: 16px;
}

.MobileCourse:hover {
  /* color: #ffd53f; */
}

.subject-number {
width: 15%;
}

.title-instructor {
width: 50%;
}

.dist-writing {
width: 10%;
}

.days-times {
width: 25%;
}

/* =========================================== */

.return-to-top {
  position: fixed;
  background-color: rgb(39, 39, 39);
  color: white;
  border: 3px solid black;
  width: 70px;
  height: 70px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  align-items: flex-start;
  right: 20px;
  bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 3;

}

.filter-menu-toggle {
  position: absolute;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 30px;
  align-items: flex-start;
  left: 20px;
  top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter-menu {
  background-color: rgb(36, 36, 36);

  color: white;
  height: 100%;
  width: 90%;

  position: fixed;
  left: -100%;
  transition: left 0.3s ease;
  overflow-y: auto;
  z-index: 10; 

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-menu::-webkit-scrollbar {
  display: none;
}

.filter-menu.open {
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent */
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.open {
  visibility: visible;
  opacity: 1;
}

.search-filter {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.search-box {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;

}

.search-box-input {
  background-color: rgb(36, 36, 36);
  
  color: white;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  font-size: 14px;
  border-radius: 6px;
  text-align: center;
  padding: 0;
  border: 0;
  outline: none;
}

.search-box-input:focus {
  border: 0;
}

.dropdown {
  position: absolute;
  color: white;
  background-color: rgb(16, 16, 16);
  border-radius: 12px;
  max-height: 175px;
  overflow-y: auto;
  width: 90%;
  margin-top: 5px;
  z-index: 5;
}

.dropdown::-webkit-scrollbar {
  display: none;
}

.dropdown-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown-item {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-item:hover {
  background-color: rgb(56, 56, 56);
}

.active-filters {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.active-filter-tag {
  background-color: #000000;
  color: white;
  padding: 15px 30px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

.active-filter-tag:hover {
  background-color: #ff4d4d;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 500px;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.close-popup {
  color: white;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}